/* CSS file for week 6 class example */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Start of main page code
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
    background-color: red;
}

/* use class to target an element with a . */
.sizing {
    /* border is shorthand that requires three properties: size, colour, and type*/
    border: 5px purple solid;
    /* width: 200px;
    height: 200px;  
    using px is a hard-coded value - the element will always be that size */
    width: 50%;
    height: 50%; /* percentages on heights don't work */
    font-size: 10px;
}

.using-rem {
    /* REM is based on the default font-size for the site (or the html tag)
    Usually this is set to 16px by your browser.  */
    font-size: 2rem;
}

.using-em {
    /* EM is based on the font size of the element's parent - in this case, the parent of this span
    is the div with the class .sizing */
    font-size: 2em;
}

.using-viewport {
    /* vw (viewport width) and vh (viewport height) respond to the size of the browser window */
    background-color: blue;
    width: 40vw;
    height: 40vh;
}

.using-percent {
    /* percent responds to the element's parent, in this case the element with the class .using-viewport */
    background-color: azure;
    width: 50%;
    height: 1000px;
}